.err1{
  color: red;
}
.edit-btn{
  padding: 5px 10px;
  background-color: #2b30c1;
  color: white;
}
.edit-btn:hover{
  background-color: #2b30c18d;

}
.delete-btn{
  padding: 5px 10px;
  background-color: #cf0d0d;
  color: white;
}
.delete-btn:hover{
  background-color: #cf0d0d87;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px 20px;
}
.logo{
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.list{
  display: flex;
  list-style: none;
  gap: 20px;
}
.list a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.list a:hover{
  color: #00bcd4
}

.table{
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table th, .table td{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table th{
  background: #f4f4f4;
}

.form{
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.form label{
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}
.form input, .form textarea{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form button{
  margin-top: 15px;
  padding: 10px;
  width: 100px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.form button:hover{
  background: #555;
}